{% extends 'base.html' %}

{% block content %}

    <p>Схема запроса: {{ req_item.scheme }}</p>
    <p>Метод запроса: {{ req_item.method }}</p>
    <p>Тело: {{ req_item.body }}</p>
    <p>Путь: {{ req_item.path }}</p>
    <p>Кодировка: {{ req_item.encoding }}</p>
    <p>Тип содержимого запроса: {{ req_item.content_type }}</p>
    <p>GET: {{ req_item.GET }}</p>
    <p>POST: {{ req_item.POST }}</p>
    <p>COOKIES: {{ req_item.COOKIES }}</p>
    <p>FILES: {{ req_item.FILES }}</p>

{% endblock %}